[Desktop Entry]
Name=LinBurn
Comment=Bootbaren USB-Stick erstellen
Exec=linburn
Icon=io.github.linburn.LinBurn
Terminal=false
Type=Application
Categories=Utility;System;
Keywords=USB;Boot;ISO;Flash;Brennen;
StartupNotify=true
